<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Naviband</title>
    <link rel="stylesheet" href="styles.css" />
  </head>

  <body>
    <header>
      <nav>
        <img class="logo" src="https://visihow.com/images/8/8b/Instructions_70679.jpg">
        <ul class="navlinks">
            <li><a href="#"> Home</a></li>
            <li><a href="#"> Register</a></li>
            <li><a href="#"> Trace</a></li>
            <li><a href="#"> Control Panel</a></li>
          </li>
        </ul>
      </nav>
    </header>

    <div>
      {% block content %} {% endblock %}
    </div>
  </body>
</html>
