{% extends "base.html" %}

{% block content %}
    <h2>Welcome to Naviband</h2>
    <p>Changing healthcare systems</p>
    <p>Brought to you by {{ author }}</p>

    {% if goodday %}

    <h2>Functions</h2>
    <a href="/reset" target="_blank">Reset</a>
    <a href="/register" target="_blank">Register</a>




    <p>It is a good day</p>
    {% else %}
    <p>It is a bad day</p>
    {% endif %}

    {% for naviband_user in naviband_users %}
    <h2> {{ naviband_user.name }} </h2>
    <p> {{ naviband_user.comment }} </p>
    {% endfor %}
{% endblock %}